{% extends 'ian_base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>



</head>


<body class="has-navbar-fixed-top">
  <nav class="navbar is-fixed-top box-shadow-y">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger toggler" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
      <a href="#" class="navbar-item has-text-weight-bold has-text-black">
        User Page</br>
        {{user.username}}
      </a>
      

      <a role="button" class="navbar-burger nav-toggler" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div class="navbar-menu has-background-white">
      <div class="navbar-start">
        <a href="{% url 'home' %}" class="navbar-item">
          <i class="fas fa-home icon"></i> Home
        </a>
        <a href="{% url 'chat' %}" class="navbar-item">
          Discussions
        </a>
        <a href="{% url 'members' %}" class="navbar-item">People</a>
      </div>
      <div class="navbar-end">
        <a href="#" class="navbar-item">
          Collaborators
        </a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a href="#" class="navbar-link">
            Admin
          </a>
          <div class="navbar-dropdown is-right">
            <a href="" class="navbar-item">
              Profile
            </a>
            <hr class="navbar-divider" />
            <a href="/login/" a class="navbar-item">Log Out</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  </br>
  </br>

  <div class="container">
    <div class="row">
      <div class="columns is-variable is-0">
        <div>
          <div class="menu-container px-1 has-background-white">
              <aside class="menu">
            <div class="menu-wrapper py-1">
              

                <p class="menu-label has-text-lighter">Creator User</p>
                <ul class="menu-list">
                  <li>
                    <a href="{% url 'profile' %}" class="has-text-black">
                      <i class="fas fa-play-circle"></i>
                      User Profile</a>
                  </li>
                </ul>


                <p class="menu-label has-text-lighter">Administration</p>
                <ul class="menu-list">
                  <li>
                    <a href="#" class="is-active has-background-primary">
                      <i class="fas fa-tachometer-alt icon"></i>
                      Dashboard</a>
                  </li>
                </ul>


                <ul class="menu-list">

                  <li>
                    <a href="{%url 'script' user.id%}" class="has-text-black">
                      <i class="fas fa-cogs icon"></i>
                      Create Script</a>
                  </li>
                  <li>
                    <a href="{% url 'new-group' %}" class="has-text-black">
                      <a href="{% url 'new-group' %}" class="has-text-black">
                        <i class="fas fa-users-cog icon"></i>
                        Create Group</a>
                      <ul>
                        <li>
                          <a href="{% url 'members' %}" class="has-text-black">
                            <i class="fas fa-users icon"></i>
                            Members</a>
                        </li>
                        <li>
                          <a href="{% url 'new-member' %}" class="has-text-black">
                            <i class="fas fa-user-plus icon"></i>
                            Join Group</a>
                        </li>
                        <li>
                          <a href="{% url 'groups' %}" class="has-text-black">
                            <i class="fas fa-users icon"></i>
                            View Groups</a>
                        </li>
                      </ul>
                  </li>
                </ul>
                <p class="menu-label has-text-lighter">Other</p>
                <ul class="menu-list">
                  <li>
                    <a href="{% url 'chat' %}" class="has-text-black">
                      <i class="fas fa-comments icon"></i>
                      Chats </a>
                  </li>
                  <li>
                    <a href="#" class="has-text-black">
                      <i class="fas fa-info-circle icon"></i>
                      Icon </a>
                  </li>
                </ul>

            </div>
          </div>
        </div>
      </div>

    </div>
  </aside>



    <div class="container-fluid">
      <div class="row" id=cards>

        {% for category in all_categories %}

        <div class="col-md-6">
          <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="height:20rem; width:20rem;">
            <img class="card-img-top"
              src="https://cdn.pixabay.com/photo/2018/01/24/18/05/background-3104413_960_720.jpg" class="card-img-top"
              alt="Card image cap">
            <div class="card-body">
              <a style="color: yellowgreen;" href="{% url 'display-children' category.id %}">{{category.name}}</a>
            </div>
          </div>
        </div>

        {% endfor %}




      </div>
    </div>
  </div>
</body>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.7.6/jquery.nicescroll.min.js"></script>

</html>


{% endblock %}