{% extends 'ian_base.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container">
    &nbsp;
    <p style="font-size: 38px;">Curriculum</p>
    <hr>

    &nbsp;

    <div class="row">
        <div class="col-sm-12 col-md-12 col-xs-12">

            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi iste repudiandae quasi eos velit qui
            consequuntur voluptates architecto, modi quae nihil dolorem, harum tenetur quam dolorum quidem adipisci
            neque
            esse?
            Dicta magni laborum aperiam ducimus voluptatem in vero, aliquid delectus blanditiis voluptatum quisquam
            atque
            doloremque, sunt nemo mollitia tempore architecto? Voluptates harum voluptas vel pariatur laborum numquam
            incidunt quos dolores.
            Autem adipisci ducimus quisquam. Nemo, ut? Ipsum possimus vitae, et quo facilis autem itaque dolorem
            aperiam
            similique culpa repellat tempore minima animi, laborum fuga earum beatae, provident assumenda aspernatur
            harum.
            Illo animi, enim doloremque assumenda sint ex aspernatur voluptas quae accusantium reiciendis fugiat
            possimus
            incidunt architecto eius perspiciatis sapiente maxime ipsa molestiae qui soluta accusamus. Adipisci hic
            obcaecati accusamus culpa?
            Autem excepturi quo assumenda ea dolorum provident aut voluptatum culpa maxime eos, dicta deserunt cumque
            quas
            nostrum iste fugit illum reiciendis impedit sed sequi hic quod. Ullam voluptas quaerat culpa.
            Quaerat similique illo ut repellat vero velit voluptatem id hic dolores iusto libero animi quibusdam
            voluptatum
            beatae sit, obcaecati praesentium impedit officia? Dignissimos alias et recusandae mollitia ducimus natus
            ipsum.
            Veritatis, recusandae magnam esse culpa rerum minus beatae ut sint, quaerat animi officiis modi! Obcaecati
            blanditiis, eum itaque impedit sit exercitationem fugiat laudantium asperiores totam in, velit dolor unde
            repudiandae.
            Eligendi numquam, assumenda doloremque recusandae enim velit itaque tempore perferendis quod harum officiis
            reprehenderit voluptatibus odio debitis at accusantium eum consectetur tempora vero veritatis. Numquam
            possimus
            at beatae libero! Saepe.
            Repellendus error ipsa quas mollitia in velit ullam voluptatum voluptatem? Exercitationem perspiciatis
            laboriosam aut voluptate rem dicta quam tempore, dolorem, adipisci voluptatem voluptatum sapiente ipsa
            distinctio expedita aspernatur maxime a?
            Quaerat similique cumque perferendis odio aspernatur nostrum voluptate maiores mollitia ipsam nesciunt
            magnam
            molestiae voluptatibus deleniti eligendi, fugit laborum sequi ab id necessitatibus non. Laudantium totam
            cupiditate corrupti earum eligendi!
            Architecto, repellendus odio aut fuga corporis fugiat perferendis ratione dolores asperiores, odit eveniet
            exercitationem magnam itaque quod aliquid iusto saepe quis libero ut dicta! Veritatis aperiam blanditiis
            eaque
            sequi voluptatem!
            Deserunt distinctio ducimus fuga vero ea, deleniti doloribus at quia assumenda dolores. Quia fuga odit,
            eligendi
            veritatis natus recusandae excepturi? Adipisci sunt excepturi assumenda voluptatibus. Odit repellat hic
            harum
            beatae.
            Aut doloremque natus odit illo quam, suscipit voluptatibus fugiat ullam accusantium doloribus obcaecati
            laboriosam quisquam. Aperiam illo itaque eius architecto praesentium rem, qui corrupti, a laudantium
            delectus
            nam eos harum!
            Quaerat eligendi, veniam esse natus vitae harum nihil amet, assumenda sequi est qui quis officia odio sint
            earum
            debitis autem nemo suscipit minus rerum consequuntur labore. Magnam dolorem vero eos.
            Nihil labore blanditiis, quis sint, ea eos magnam at officia aspernatur dignissimos quos assumenda cum modi
            reiciendis iusto quasi praesentium provident! Sint nobis sit fugit incidunt enim obcaecati omnis quidem.
            Illum fugiat voluptatem quo ducimus illo quia, in reprehenderit nihil aperiam at excepturi inventore
            laborum!
            Maiores facilis distinctio perferendis, veritatis unde ad, quasi doloremque harum quae debitis mollitia,
            impedit
        
        <a href="{% url 'curriculum' 1 %}"><button type="button" class="btn btn-success">Read
      
        </div>

    </div>



    {% endblock %}