{% extends 'base_one.html' %}
{% load bootstrap4 %}

{% block content %}

<div class="container">
    &nbsp;
    <p style="font-size: 38px;">Sexual Abstinence</p>
    <hr>
    <div style="text-align: justify;" class="col-sm-12 col-md-12 col-xs-12">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi iste repudiandae quasi eos velit qui
        consequuntur voluptates architecto, modi quae nihil dolorem, harum tenetur quam dolorum quidem adipisci neque
        esse?
        Dicta magni laborum aperiam ducimus voluptatem in vero, aliquid delectus blanditiis voluptatum quisquam atque
        doloremque, sunt nemo mollitia tempore architecto? Voluptates harum voluptas vel pariatur laborum numquam
        incidunt quos dolores.
        Autem adipisci ducimus quisquam. Nemo, ut? Ipsum possimus vitae, et quo facilis autem itaque dolorem aperiam
        similique culpa repellat tempore minima animi, laborum fuga earum beatae, provident assumenda aspernatur harum.
        Illo animi, enim doloremque assumenda sint ex aspernatur voluptas quae accusantium reiciendis fugiat possimus
        incidunt architecto eius perspiciatis sapiente maxime ipsa molestiae qui soluta accusamus. Adipisci hic
        obcaecati accusamus culpa?
        Autem excepturi quo assumenda ea dolorum provident aut voluptatum culpa maxime eos, dicta deserunt cumque quas
        nostrum iste fugit illum reiciendis impedit sed sequi hic quod. Ullam voluptas quaerat culpa.
        Quaerat similique illo ut repellat vero velit voluptatem id hic dolores iusto libero animi quibusdam voluptatum
        beatae sit, obcaecati praesentium impedit officia? Dignissimos alias et recusandae mollitia ducimus natus ipsum.
        Veritatis, recusandae magnam esse culpa rerum minus beatae ut sint, quaerat animi officiis modi! Obcaecati
        blanditiis, eum itaque impedit sit exercitationem fugiat laudantium asperiores totam in, velit dolor unde
        repudiandae.
        Eligendi numquam, assumenda doloremque recusandae enim velit itaque tempore perferendis quod harum officiis
        reprehenderit voluptatibus odio debitis at accusantium eum consectetur tempora vero veritatis. Numquam possimus
        at beatae libero! Saepe.
        Repellendus error ipsa quas mollitia in velit ullam voluptatum voluptatem? Exercitationem perspiciatis
        laboriosam aut voluptate rem dicta quam tempore, dolorem, adipisci voluptatem voluptatum sapiente ipsa
        distinctio expedita aspernatur maxime a?
        Quaerat similique cumque perferendis odio aspernatur nostrum voluptate maiores mollitia ipsam nesciunt magnam
        molestiae voluptatibus deleniti eligendi, fugit laborum sequi ab id necessitatibus non. Laudantium totam
        cupiditate corrupti earum eligendi!
        Architecto, repellendus odio aut fuga corporis fugiat perferendis ratione dolores asperiores, odit eveniet
        exercitationem magnam itaque quod aliquid iusto saepe quis libero ut dicta! Veritatis aperiam blanditiis eaque
        sequi voluptatem!
        Deserunt distinctio ducimus fuga vero ea, deleniti doloribus at quia assumenda dolores. Quia fuga odit, eligendi
        veritatis natus recusandae excepturi? Adipisci sunt excepturi assumenda voluptatibus. Odit repellat hic harum
        beatae.
        Aut doloremque natus odit illo quam, suscipit voluptatibus fugiat ullam accusantium doloribus obcaecati
        laboriosam quisquam. Aperiam illo itaque eius architecto praesentium rem, qui corrupti, a laudantium delectus
        nam eos harum!
        Quaerat eligendi, veniam esse natus vitae harum nihil amet, assumenda sequi est qui quis officia odio sint earum
        debitis autem nemo suscipit minus rerum consequuntur labore. Magnam dolorem vero eos.
        Nihil labore blanditiis, quis sint, ea eos magnam at officia aspernatur dignissimos quos assumenda cum modi
        reiciendis iusto quasi praesentium provident! Sint nobis sit fugit incidunt enim obcaecati omnis quidem.
        Illum fugiat voluptatem quo ducimus illo quia, in reprehenderit nihil aperiam at excepturi inventore laborum!
        Maiores facilis distinctio perferendis, veritatis unde ad, quasi doloremque harum quae debitis mollitia, impedit
        odit.
        Fugiat quod quidem tenetur deserunt in molestias aspernatur at ad culpa. Inventore consequatur accusamus aut,
        beatae labore tenetur quisquam odio voluptates, repudiandae modi ipsam voluptate natus omnis hic? Repellendus,
        voluptatum!
        Cupiditate laborum, ab labore laboriosam velit praesentium fugiat, accusantium, tempore earum porro eaque
        accusamus minima dolorum? Sequi sunt recusandae, eveniet veniam neque voluptatibus ex eligendi consectetur
        voluptate consequuntur deleniti repellendus.
        Eos, consectetur sed unde dignissimos nobis nemo voluptatum deleniti veritatis quaerat ab voluptate ipsum eius
        aperiam. Perferendis nihil repellendus quas accusamus itaque accusantium autem mollitia, quos velit voluptates
        natus quis.
        Harum odit quis animi placeat eaque non voluptas cum nobis vitae magni facilis vel, vero ut doloribus delectus
        corporis aliquam veniam. Iusto non repudiandae molestias rerum iste ea, unde doloribus!
        Porro, enim odit ipsa est, repellat, quidem provident ex minima esse vel nisi blanditiis itaque reprehenderit
        reiciendis eligendi modi quisquam possimus dolorem. Perspiciatis quis dolore illo a. Impedit, earum excepturi.
        Sint id quas autem vitae culpa perferendis praesentium quisquam eaque, at excepturi dicta repudiandae nostrum
        esse, placeat minus, labore rem iste. Sed pariatur ipsa laboriosam commodi in nulla, voluptatem id!
        Eum recusandae doloribus explicabo quos cum, incidunt, vero eaque at vitae praesentium eligendi quis doloremque?
        Aut quidem maiores nihil, quaerat quam dolorum pariatur earum numquam assumenda, nulla quis ad animi!
        Excepturi et cumque impedit error repellendus temporibus! Itaque quis cum quos voluptate optio odit
        necessitatibus laboriosam, possimus ex fugit nesciunt vitae, fuga vel, doloremque repudiandae aliquid saepe
        temporibus aliquam quae.
        Quam inventore id exercitationem nulla asperiores suscipit quod. Sequi unde error, hic dolorem, tempore nemo
        eaque laboriosam omnis temporibus, est asperiores quasi? Harum quam quae ut ipsam dolorum saepe alias!
        Suscipit quae non, eaque incidunt placeat odio culpa et blanditiis perspiciatis inventore impedit, ducimus ut
        dolore accusamus, corporis veniam. Eos facilis sunt obcaecati ea mollitia enim laboriosam doloremque, dolorem
        voluptatum.
        Inventore similique amet porro non neque assumenda expedita sed dolor error vel corrupti maiores unde quam ipsa
        fugiat, eveniet nulla blanditiis nihil ullam quibusdam, at magni! Eos labore minima animi?
        Inventore amet quo et, consequatur vero illo fugiat blanditiis maxime cumque ducimus itaque autem deserunt,
        ullam iste. Nobis accusantium, sed consectetur officiis laborum vero. Aperiam, fuga. Illum rem mollitia
        deserunt.
        Fugit, corporis quos autem non sequi sit asperiores est? Beatae sapiente deserunt quae, facere quasi, cupiditate
        nisi porro id aperiam quaerat illum error! Nesciunt ad nostrum rem repellat, perspiciatis labore.
        At exercitationem animi, vero maiores quaerat eveniet, dicta odio corporis suscipit ex vitae sed, pariatur illum
        ratione. Molestiae amet quod illum dicta, laudantium, ab commodi, debitis exercitationem minus asperiores
        aspernatur!
        Asperiores excepturi ducimus ex, eius doloremque tenetur culpa exercitationem pariatur nesciunt, enim ad laborum
        molestias, praesentium alias eos cum! Ad iste tempora ipsum, repellat reprehenderit accusamus officiis. In,
        aliquid dolores!
        Cumque, fugit iure excepturi, quos eaque itaque minus magni voluptate voluptatum neque odio, fuga eveniet
        quaerat. Molestias iste dolores officiis porro laboriosam, atque rem ad facilis molestiae aut veritatis in?
        Laudantium similique incidunt voluptatibus. Iusto possimus dolores quae, quo unde eveniet. Nostrum asperiores,
        quo, odit quia illum laboriosam possimus unde cumque voluptatibus officiis rerum facilis rem nemo quis ipsam
        alias?
        Mollitia accusamus, suscipit, quidem sint optio dolore, explicabo laboriosam harum omnis veniam officiis
        deserunt delectus dolorem inventore iure blanditiis. Fugiat maxime accusantium adipisci nostrum aliquid ipsum
        necessitatibus inventore perspiciatis ad.
        Amet quaerat sequi praesentium architecto ad? Accusamus exercitationem sint dolores aliquam veritatis, cumque
        quae voluptatem, voluptatum vel architecto nulla rerum officia quidem ex laudantium magni ipsam pariatur
        deleniti omnis vitae?
        Ullam explicabo natus ratione assumenda blanditiis laudantium doloremque iste laborum. Magni animi, libero
        temporibus dolore sed cum, culpa illum doloremque itaque a similique voluptates iure dolorum voluptas odit
        quidem repudiandae.
        Voluptate, quaerat. Iusto, perferendis voluptas! Impedit, enim porro nesciunt alias repellendus minus eveniet
        amet, necessitatibus nostrum eos fuga aliquam similique ullam debitis molestiae esse consectetur asperiores
        rerum? Dolorem, mollitia necessitatibus!
        Cum officiis asperiores accusantium sequi aliquid itaque odit temporibus accusamus nostrum explicabo rerum
        beatae nobis dolor distinctio et, consectetur tempore sit enim! Commodi nesciunt vel in tenetur harum quas
        tempore?
        Temporibus quo fugit inventore nostrum et sunt ut saepe tempore fuga, ullam doloremque praesentium officia earum
        rerum quas facilis eveniet? Ut beatae totam non nobis repellendus alias, harum voluptatum facilis.
        Aut temporibus laboriosam ea. Culpa, debitis vel qui asperiores nemo eligendi a repellendus ex aperiam fugiat
        excepturi illo nam doloribus velit suscipit laudantium rem quas ea incidunt aliquam exercitationem nesciunt.
        Atque, nesciunt. Soluta, obcaecati ea. Quis recusandae dolorem qui expedita magnam alias, voluptatum aperiam
        dolorum, laudantium eligendi eos consectetur reprehenderit fugit laborum officiis eum asperiores in? Qui sed
        unde odio.
        Error quaerat natus eos. Eveniet dolor assumenda iusto est beatae facilis ducimus eos quisquam neque, doloremque
        aspernatur, sapiente eligendi in esse earum vel nam debitis nihil, sint fugiat ad eum.
        Vero molestiae fugiat quidem perspiciatis eum tempore. Perspiciatis praesentium possimus porro, consectetur
        mollitia magnam quaerat quo. Aliquid alias ea, recusandae inventore, accusamus culpa eligendi natus enim est,
        illum veritatis libero.
        Quaerat, esse nemo quae officia odio, nam laudantium necessitatibus recusandae omnis odit ipsam distinctio error
        non sit provident eius consectetur quis laborum harum tempora. Quam cupiditate molestiae provident reprehenderit
        qui.


        <a  href="{% url 'script' user.id %}"><button type="button" class="btn btn-success">Create Script</button></a>
    </div>
</div>

{% endblock %}